<div class="container">
    <div class="row d-flex justify-content-center align-items-center">

        <a routerLink="/contacts" class="col-6 d-flex justify-content-center align-items-center shadow m-3 bg-primary text-light">
           Contatti
        </a>

        <a routerLink="/whatsapp" class="col-6 d-flex justify-content-center align-items-center shadow m-3 bg-primary text-light">
           Whatsapp
        </a>

        <a routerLink="/contacts" class="col-6 d-flex justify-content-center align-items-center shadow m-3 bg-primary text-light">
           ToDo
            </a>
        <a routerLink="/contacts" class="col-6 d-flex justify-content-center align-items-center shadow m-3 bg-primary text-light">
           Calc
        </a>

    </div>
</div>